# Application Environment
ENVIRONMENT=development
APP_NAME="Meta SAM-2 Image Segmentation"
LOG_LEVEL=info

# SAM Model Path
SAM_MODEL_PATH=models/weights/sam_vit_h.pth
SAM_MODEL_S3_URL=https://your-s3-bucket-name.s3.your-region.amazonaws.com/sam_vit_h.pth

# API Key
API_KEY=your-api-key

# Server configuration
BASE_URL=http://localhost:8000

# PostgreSQL Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sam_segmentation
POSTGRES_HOST=sam-segmentation-db-gpu
POSTGRES_PORT=5432