# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Docker
.dockerignore

# Model Weights
*.pth

# Assets
assets/

# VSCode
.vscode/